<header class="bg-blue-600 dark:bg-gray-800 text-white py-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center px-4">
    <!-- Logo and Application Name -->
    <div class="flex items-center space-x-2">
      <a routerLink="/" class="flex space-x-2">
        <mat-icon>sunny</mat-icon>
        <h1 class="text-xl font-bold dark:text-gray-300">WeatherApp</h1>
      </a>
    </div>

    <!-- Theme Toggle Menu -->
    <div class="flex items-center space-x-2">
      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon style="color: white;">settings</mat-icon>
      </button>
      <mat-menu #themeMenu="matMenu">
        <button mat-menu-item (click)="setTheme('light')">
          <mat-icon>brightness_5</mat-icon>
          <span>Light</span>
        </button>
        <button mat-menu-item (click)="setTheme('dark')">
          <mat-icon>brightness_4</mat-icon>
          <span>Dark</span>
        </button>
        <button mat-menu-item (click)="setTheme('system')">
          <mat-icon>settings_suggest</mat-icon>
          <span>System</span>
        </button>
      </mat-menu>
    </div>
  </div>
</header>
