
.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-top: -150px;
  margin-left: -150px;
  border-radius: 50%;
  animation: rotate 60s linear infinite;
  z-index: -1;
}

.sun-moon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  animation: sunMoonOrbit 60s linear infinite;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sunMoonOrbit {
  0% {
    transform: rotate(0deg) translateX(-350px) rotate(0deg);
    background-image: url("../../../public/sun.png");
  }
  50% {
    transform: rotate(180deg) translateX(-350px) rotate(-180deg);
    background-image: url("../../../public/sun.png");
  }
  50.1% {
    background-image: url("../../../public/moon.png");
  }
  100% {
    transform: rotate(360deg) translateX(-350px) rotate(-360deg);
    background-image: url("../../../public/moon.png");
  }
}
